
@if (TempData["erro"] != null)
{
    <div class="alert alert-danger">
        @TempData["erro"]
    </div>
}
<form action="/Login/Entrar" method="post">
    <label>Usuário</label>
    <input type="text" name="login" />
    <br />
    <Senha>Senha</Senha>
    <input type="password" name="senha" />

    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
