@model ProjetoEventos.Entidades.Usuario

@{
    ViewData["Title"] = "Cadastrar Usuário";
}

<div class="row-6 justify-content-center col-md-6">
    <h5 class="text-white text-left txtcad my-2">Cadastre-se para participar dos mais diferentes eventos em nosso site</h5>
    <div>
        <img src="~/imgs/imgCadastro.png" alt="Imagem do cadastro com homem apontando para o formulário de cadastro" style="width:500px" />
    </div>
</div>

<div class="row justify-content-center">

    <div class="col-md-4 text-center" style="background-color:#FF5D00; color:white; font-weight:bold; border-radius:5px; border-width:medium; border-style:solid; border-color:white;">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-2">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>


</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
